.controll-pills {
	background-color: #777 !important; 
	color: #FFFFFF !important;
	border-radius: 0px !important;
}

.controll-pills-active {
	background-color: #000000 !important; 
	color: #FFFFFF !important;
	border-radius: 0px !important;
}

.controll-pills:hover {
	background-color: #000000 !important;
}

.controll-pills:focus {
	background-color: #000000 !important;
}

.linear-input {
	width: 100%;
}

.modal-content-turnover {
	border-radius: 0px !important;
}

.modal-content-turnover > .modal-header {
	border-bottom: 0px; 
	padding-bottom: 0px; 
	background-image: url(../media/bw-city-blueprint.jpg); 
	background-position: 45% 24%;
}

.modal-content-turnover > .modal-body {
	padding-top: 0px; 
}

.modal-content-turnover > .modal-footer {
	border-top: 0px; 
}

.quickstart-label {
	width: 25%;
}

.quickstart-form-row {
	margin-bottom: 10px;
}

.quickstart-form-row-label {
	font-weight: normal;
}

.error-message {
	color: red;
}

.advanced-pills-description {
	margin-top: 0px; 
	border-bottom: 1px solid #ccc;
}

.advanced-row-description {
	border-bottom: 1px solid #ccc;
}