<div class="container" style="max-width: 800;">

	<form name="advancedForm">

		<!-- Clock config row -->
		<div class="row">

			<!-- lead label-->
			<h2 class="text-center" style="border-bottom: 1px solid #ccc;">Clock Configuration <small>What are time units? How many of them to simulate?</small></h2>

			<!--  Clock input area -->
			<div class="form-inline col-sm-12" style="margin-bottom: 10px;">

    			<div class="form-group col-md-6 col-sm-6">
            		<label for="periodUnit" class="control-label">Units&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                	<select class="form-control" id="periodUnit" style="min-width:175px;" ng-model="advancedCtrl.periodUnits">
						<option value="minutes" selected>Minutes</option>
						<option value="hours">Hours</option>
						<option value="days">Days</option>
					</select>
				</div>
			
				<div class="form-group col-md-6 col-sm-6">
        			<label for="totalPeriods" class="control-label">Total&nbsp;</label>
            		<input type="number" class="form-control" name="totalPeriods" id="totalPeriods" ng-model="advancedCtrl.totalPeriods" min="0" required>

            		<!-- validation message -->
            		<div ng-messages="advancedForm.totalPeriods.$error" style="color:red" role="alert">
						<div ng-message="min">Greater than 0 please</div>
						<div ng-message="required">Cannot be empty</div>
					</div>
            	</div>
        	</div>
        </div>

        <!-- Controll pills -->
        <div class="row text-center" style="margin-top:20px;">
	        	
	    	<ul class="nav nav-pills" style="display: inline-block;">
				<li role="presentation" ><a href="" class="lead controll-pills" ng-click="advancedCtrl.showLinearConfig()" ng-class="{'controll-pills-active' : advancedCtrl.isLinear}">Linear Based Tasks</a></li>
				<li role="presentation"><a href="" class="lead controll-pills" ng-click="advancedCtrl.showProbabilityConfig()" ng-class="{'controll-pills-active' : advancedCtrl.isProbability}">Probability Based Tasks</a></li>
			</ul>
			
		</div>

		<!-- linear config row -->
		<div ng-show="advancedCtrl.isLinear">

		    <div class="row">
		    	<!-- lead label-->
				<h2 class="text-center" style="margin-top: 0px; border-bottom: 1px solid #ccc;">Linear Task Rate <small>Tasks are added to the queue at a constant rate, with a constant work time to complete, starting at a specified time. Add multiple for periods of high/low volume.</small></h2>
			

				<!-- Task rate config. For each goes here -->
				<div ng-repeat="linearConfig in advancedCtrl.linearTaskConfigs track by $index">
					<div class="form-inline col-sm-12" style="margin-bottom: 10px;">
			            
			            <!-- Rate input -->
			            <div class="form-group col-md-4 col-sm-4">
			            	
			            
				            <label for="{{'linearArrivalRate' + $index}}" class="control-label">Arrival Rate</label>
				            <input type="number" class="form-control" id="{{'linearArrivalRate' + $index}}" name="{{'linearArrivalRate' + $index}}" min="0" ng-model="linearConfig.arrivalRate" ng-required="advancedCtrl.isLinear">

				            <!-- validation message -->
				            <div ng-messages="advancedForm['linearArrivalRate' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
			        	</div>

			        	<div class="form-group col-md-4 col-sm-4">
			        	
			                <label for="{{'linearTaskLength' + $index}}" class="control-label">Task Length</label>
			                <input type="number" class="form-control" id="{{'linearTaskLength' + $index}}" name="{{'linearTaskLength' + $index}}" min="0" ng-model="linearConfig.taskLength" ng-required="advancedCtrl.isLinear">
			        		
			        		<!-- validation message -->
			        		<div ng-messages="advancedForm['linearTaskLength' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
						</div>

						<div class="form-group col-md-4 col-sm-4">
			                <label for="{{'linearStartPeriod' + $index}}" class="control-label">Start Period</label>
			                <input type="number" class="form-control" id="{{'linearStartPeriod' + $index}}" name="{{'linearStartPeriod' + $index}}" ng-model="linearConfig.startPeriod" min="0" ng-required="advancedCtrl.isLinear">
			        		
			        		<!-- validation message -->
			        		<div ng-messages="advancedForm['linearStartPeriod' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Add/Remove buttons -->
				<div class="row">
					<p class="text-center">

						<!-- Button to add more task configurations -->
						<button type="button" class="btn btn-md" ng-click="advancedCtrl.addTaskConfig()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>

						<!-- Button to remove more task configurations -->
						<button type="button" class="btn btn-md" ng-click="advancedCtrl.removeTaskConfig()" ng-show="advancedCtrl.showLinearRm"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
					</p>
				</div>

			</div>

		</div>

		<div ng-show="advancedCtrl.isProbability">

			<div class="row">
				<h2 class="text-center" style="margin-top: 0px; border-bottom: 1px solid #ccc;">Random Task Rate <small>Tasks are added to the queue at a constant rate, but with a random work time (between provided bounds). For multiple ranges, specify how many out of 100 for each.</small></h2>
				
				<!-- wrapping loop declaration -->
				<div ng-repeat="probabilityConfig in advancedCtrl.probabilityTaskConfigs track by $index">
					
					<div class="form-inline col-sm-12" style="margin-bottom: 10px;">
			            
			            <!-- Rate input -->
			            <div class="form-group col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2">
			            
				            <label for="{{'probabilityArrivalRate' + $index}}" class="control-label">Arrival Rate</label>
				            <input type="number" class="form-control" id="{{'probabilityArrivalRate' + $index}}" name="{{'probabilityArrivalRate' + $index}}" min="0" ng-required="advancedCtrl.isProbability" ng-model="probabilityConfig.arrivalRate" style="width: 100%;">

				            <!-- validation message -->
				            <div ng-messages="advancedForm['probabilityArrivalRate' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
			        	</div>

			        	<div class="form-group col-md-2 col-sm-2">
			        	
			                <label for="{{'probabilityLowBound' + $index}}" class="control-label">Low Bound</label>
			                <input type="number" class="form-control" id="{{'probabilityLowBound' + $index}}"  name="{{'probabilityLowBound' + $index}}" min="0" ng-required="advancedCtrl.isProbability" ng-model="probabilityConfig.lowBound" style="width: 100%;">
			        		
			        		<!-- validation message -->
			        		<div ng-messages="advancedForm['probabilityLowBound' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
						</div>

						<div class="form-group col-md-2 col-sm-2">
			        	
			                <label for="{{'probabilityHighBound' + $index}}" class="control-label">High Bound</label>
			                <input type="number" class="form-control" id="{{'probabilityHighBound' + $index}}" name="{{'probabilityHighBound' + $index}}" min="0" ng-required="advancedCtrl.isProbability" ng-model="probabilityConfig.highBound" style="width: 100%;">
			        		
			        		<!-- validation message -->
			        		<div ng-messages="advancedForm['probabilityHighBound' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
						</div>

						<div class="form-group col-md-2 col-sm-2">
			                <label for="{{'probabilityTaskProportion' + $index}}" class="control-label">X/100</label>
			                <input type="number" class="form-control" id="{{'probabilityTaskProportion' + $index}}" name="{{'probabilityTaskProportion' + $index}}" min="1" max="100" total-One-Hundred ng-required="advancedCtrl.isProbability" ng-model="probabilityConfig.taskProportion" style="width: 100%;">

			        		<!-- validation message -->
			        		<div ng-messages="advancedForm['probabilityTaskProportion' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
								<div ng-message="totalOneHundred">Sum of tasks must = 100</div>
							</div>
						</div>

						<div class="form-group col-md-2 col-sm-2">
			                <label for="{{'probabilityStartPeriod' + $index}}" class="control-label">Start Period</label>
			                <input type="number" class="form-control" id="{{'probabilityStartPeriod' + $index}}" name="{{'probabilityStartPeriod' + $index}}" min="0" ng-required="advancedCtrl.isProbability" ng-model="probabilityConfig.startPeriod" style="width: 100%;">
			        		
			        		<!-- validation message -->
			        		<div ng-messages="advancedForm['probabilityStartPeriod' + $index].$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
						</div>

					</div>
				</div>
			
				<!-- Add/Remove buttons -->
				<div class="row">
					<p class="text-center">

						<!-- Button to add more task configurations -->
						<button type="button" class="btn btn-md" ng-click="advancedCtrl.addTaskConfig()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>

						<!-- Button to remove more task configurations -->
						<button type="button" class="btn btn-md" ng-click="advancedCtrl.removeTaskConfig()" ng-show="advancedCtrl.showProbabilityRm"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
					</p>
				</div>

			</div>

		</div>

		<div class="row">

			<!-- workers lead label -->
			<h2 class="text-center" style="border-bottom: 1px solid #ccc;">Workers <small>How many workers? When do they arrive and leave? How fast do they work?</small></h2>
		
			<div ng-repeat="workerConfig in advancedCtrl.workerConfigs track by $index">
				<div class="form-inline col-sm-12" style="margin-bottom: 10px;">
		            
		            <!-- Rate input -->
		            <div class="form-group col-md-3 col-sm-3">
		            
			            <label for="{{'total' + $index}}" class="control-label">Total Workers</label>
			            
			            <input type="number" class="form-control" id="{{'total' + $index}}" name="{{'total' + $index}}" ng-model="workerConfig.total" min="0" required>

			            <!-- validation message -->
			            <div ng-messages="advancedForm['total' + $index].$error" style="color:red" role="alert">
							<div ng-message="min">Greater than 0 please</div>
							<div ng-message="required">Cannot be empty</div>
						</div>
		        	</div>

		        	<div class="form-group col-md-3 col-sm-3">

		        		<label for="{{'additionalTime' + $index}}" class="control-label">Additional Time</label>
		                
		                <select class="form-control" id="{{'additionalTime' + $index}}" ng-model="workerConfig.additionalTime" style="min-width:175px;">
							<option value="-1">Senior (-1)</option>
							<option value="0" selected>Standard (0)</option>
							<option value="1">Junior (+1)</option>
						</select>
		        		
		        		<!-- validation message -->
		        		<div ng-messages="advancedForm['additionalTime' + $index].$error" style="color:red" role="alert">
							<div ng-message="min">Greater than 0 please</div>
							<div ng-message="required">Cannot be empty</div>
						</div>
					</div>

					<div class="form-group col-md-3 col-sm-3">
		                
		                <label for="{{'arrivalPeriod' + $index}}" class="control-label">Arrival Period</label>
		                
		                <input type="number" class="form-control" id="{{'arrivalPeriod' + $index}}" name="{{'arrivalPeriod' + $index}}" ng-model="workerConfig.arrivalPeriod" min="0" required>
		        		
		        		<!-- validation message -->
		        		<div ng-messages="advancedForm['arrivalPeriod' + $index].$error" style="color:red" role="alert">
							<div ng-message="min">Greater than 0 please</div>
							<div ng-message="required">Cannot be empty</div>
						</div>
					</div>

					<div class="form-group col-md-3 col-sm-3">
		                
		                <label for="{{'stopPeriod' + $index}}" class="control-label">Stop Period</label>
		                
		                <input type="number" class="form-control" id="{{'stopPeriod' + $index}}" name="{{'stopPeriod' + $index}}" ng-model="workerConfig.stopPeriod" min="0" required>
		        		
		        		<!-- validation message -->
		        		<div ng-messages="advancedForm['stopPeriod' + $index].$error" style="color:red" role="alert">
							<div ng-message="min">Greater than 0 please</div>
							<div ng-message="required">Cannot be empty</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Button to add more worker configurations -->
			<div class="col-md-12 text-center">
				
				<button type="button" class="btn btn-md" ng-click="advancedCtrl.addWorkerConfig()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>

				<!-- Button to remove more task configurations -->
				<button type="button" class="btn btn-md" ng-click="advancedCtrl.removeWorkerConfig()" ng-show="advancedCtrl.showWorkerRm"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
			</div>
			
		</div>

		<div class="row" style="margin-top: 20px;">
			<p style="text-align: center;">
				<button class="btn btn-lg">Home</button>
				<button type="button" class="btn btn-default btn-lg">Execute</button>
			</p>
		</div>

	</form>

</div>