<!-- Modal -->
<div class="modal" id="quickStartModal" tabindex="-1" role="dialog" aria-labelledby="Quick Start">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="border-radius: 0px !important;">
			<div class="modal-header" style="border-bottom: 0px; padding-bottom: 0px; background-image: url(media/bw-city-blueprint.jpg); background-position: 45% 24%;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<P class="lead" id="quickStartModalLabel">Quick Start</P>
			</div>
			<div class="modal-body" style="padding-top: 0px;">

				<form name="quickStartForm">

					<div class="control-label">
						<label for="periodUnit" style="font-weight: normal;">How many minutes/hours/days to simulate?</label>
					</div>

	            	<div class="form-inline col-sm-12" style="margin-bottom: 10px;">

	            		<div class="form-group col-md-6 col-sm-6">
		                	<label for="periodUnit" class="control-label">Units&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		                    <select class="form-control" id="periodUnit" style="min-width:175px;" ng-model="homeCtrl.quickStartUnits">
								<option value="minutes" selected>Minutes</option>
								<option value="hours">Hours</option>
								<option value="days">Days</option>
							</select>
						</div>
						
						<div class="form-group col-md-6 col-sm-6">
	                		<label for="inputValue" class="control-label">Amount&nbsp;</label>
	                    	<input type="number" class="form-control" name="simLength" id="inputValue" ng-model="homeCtrl.quickStartPeriods" min="0" required>

	                    	<!-- validation message -->
	                    	<div ng-messages="quickStartForm.simLength.$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
		                </div>
	                </div>

	                <div class="control-label">
						<label for="workerDetails" style="font-weight: normal;">How many workers and tasks per minute/hour/day?</label>
					</div>

					<div class="form-inline col-sm-12" style="margin-bottom: 10px;">
		                <div class="form-group col-md-6 col-sm-6">
				            <label for="totalWorkers" class="control-label">Workers</label>
				            <input type="number" class="form-control" id="totalWorkers" ng-model="homeCtrl.quickStartWorkers" name="totalWorkers" min="0" required>

				            <!-- validation message -->
				            <div ng-messages="quickStartForm.totalWorkers.$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
		            	</div>

		            	<div class="form-group col-md-6 col-sm-6">	
			                <label for="taskRate" class="control-label" >Tasks&nbsp;&nbsp;&nbsp;&nbsp;</label>
			                <input type="number" class="form-control" id="taskRate" ng-model="homeCtrl.quickStartRate" name="arrivalRate" min="0" required>
		            		
		            		<!-- validation message -->
		            		<div ng-messages="quickStartForm.arrivalRate.$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
						</div>
		            </div>

		            <div class="control-label">
						<label for="workerSpeed" style="font-weight: normal;">How long does it take a worker to complete a task?</label>
					</div>

					<div class="form-inline col-sm-12" style="margin-bottom: 10px;">
		                <div class="form-group col-md-6 col-sm-6">
				            <label for="taskTime" class="control-label">Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				            <input type="number" class="form-control" id="taskTime" ng-model="homeCtrl.quickStartTaskTime" name="taskLength" min="0" required>

				            <!-- validation message -->
		            		<div ng-messages="quickStartForm.taskLength.$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
		            	</div>

		            	<div class="form-group col-md-6 col-sm-6" style="padding-left:0px;">
			                <label for="restTime" class="control-label">Rest Time</label>
			                <input type="number" class="form-control" id="group" ng-model="homeCtrl.quickStartRestTime" name="restTime" min="0" required>

			                <!-- validation message -->
		            		<div ng-messages="quickStartForm.restTime.$error" style="color:red" role="alert">
								<div ng-message="min">Greater than 0 please</div>
								<div ng-message="required">Cannot be empty</div>
							</div>
		            	</div>
		            </div>

				</form>

			</div>
			<div class="modal-footer" style="border-top: 0px;">
				<button type="button" class="btn" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default" data-target="#quickStartModal" data-dismiss="modal" ng-click="homeCtrl.quickStart()">Execute</button>
			</div>
		</div>
	</div>
</div>